@charset "UTF-8";

::-ms-reveal,
::-ms-clear {
  display: none !important;}
.hideShowPassword-wrapper {margin: 0 !important;}
.hideShowPassword-wrapper input{width: 100% !important;}
#headerContent #memberArea #loginArea .hideShowPassword-wrapper{width: 100% !important;}

.hideShowPassword-toggle {
  background-color: transparent;
  background-image: url('/images/icon/wink.png'); /* fallback */
  background-position: 0 center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute !important;
  right: 0px !important;
  top: 60% !important;
  margin-top: -22px !important;
  height: 44px;
  margin: 0;
  max-height: 100%;
  padding: 0;
  overflow: 'hidden';
  text-indent: -999em;
  width: 46px;
  -moz-appearance: none;
  -webkit-appearance: none;}
.hideShowPassword-toggle-hide {
  background-position: -44px center;}
.hideShowPassword-toggle:hover,
.hideShowPassword-toggle:focus {
  border-color: #0088cc;
  outline: transparent;}


@media screen and (max-width:640px) {
::-ms-reveal,
::-ms-clear {
  display: none !important;}
/*
.hideShowPassword-wrapper {
	margin: 0 !important;
	width: 100% !important;}
*/
#headerContent #memberArea #loginArea .hideShowPassword-toggle{
  top: 60% !important;
}
.hideShowPassword-toggle {
  background-color: transparent;
  background-image: url('/images/icon/wink.png'); /* fallback */
  background-position: 0 center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute !important;
  right: 0px !important;
  top: 50% !important;
  margin-top: -22px !important;
  height: 44px;
  margin: 0;
  max-height: 100%;
  padding: 0;
  overflow: 'hidden';
  text-indent: -999em;
  width: 46px;
  color: #FFFFFF;
  -moz-appearance: none;
  -webkit-appearance: none;
  }
.hideShowPassword-toggle-hide {
  background-position: -44px center;}
.hideShowPassword-toggle:hover,
.hideShowPassword-toggle:focus {
  outline: transparent;}

}

